body {
    text-align: center;
}

.gameTitle {
	text-transform: uppercase;
	font-size: 100px;
}

.btn {
	text-transform: uppercase;
}

#lives {
	text-transform: uppercase;
	font-size: 40px;
}

#score {
	text-transform: uppercase;
	font-size: 40px;
}

