body {
    text-align: center;
}

.gameTitle {
	text-transform: uppercase;
	font-size: 100px;
};

h1 {
	padding-top: 100px;
};

#playButton {
	text-transform: uppercase;
};


/*#gameOver {
	text-transform: uppercase;
	font-size: 100px;
} */

